In [1]:
#importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# (A) Applied Statistics:

Question 1

In [2]:
#readig the excel sheet
df = pd.read_excel('Stats.xlsx')
df

    Emp#  YearsOfExp  Salary in Rs.
0      1          10         126015
1      2           1          12598
2      3           8         100639
3      4          10         125351
4      5           2          25031
5      6           5          62630
6      7           9         112620
7      8           8         100639
8      9           4          50145
9     10           2          25232
10    11           9         112770
11    12           3          37512
12    13           4          50274
13    14           5          62768
14    15          10         125363
15    16           2          25226
16    17           6          75392
17    18           7          87779
18    19           7          87654
19    20           3          37592
20    21          10         125186
21    22           2          25187
22    23           9         113309
23    24           9         113112
24    25          10         125506

In [3]:
#calculating mean
mean = df['Salary in Rs.'].mean()
mean

77821.2

In [4]:
#calculating median
median = df['Salary in Rs.'].median()
median

87654.0

In [5]:
#calculating mode
mode = df['Salary in Rs.'].mode()[0]
mode

100639

In [6]:
df.sort_values('Salary in Rs.')

    Emp#  YearsOfExp  Salary in Rs.
1      2           1          12598
4      5           2          25031
21    22           2          25187
15    16           2          25226
9     10           2          25232
11    12           3          37512
19    20           3          37592
8      9           4          50145
12    13           4          50274
5      6           5          62630
13    14           5          62768
16    17           6          75392
18    19           7          87654
17    18           7          87779
2      3           8         100639
7      8           8         100639
6      7           9         112620
10    11           9         112770
23    24           9         113112
22    23           9         113309
20    21          10         125186
3      4          10         125351
14    15          10         125363
24    25          10         125506
0      1          10         126015

Question 2

In [7]:
sd = df['Salary in Rs.'].std()
sd

39847.6152810094

In [8]:
variance = df['Salary in Rs.'].var()
variance

1587832443.5833337

# (B)Natural Language Processing:

### qustion 1

In [9]:
import re
import csv
from nltk.tokenize import sent_tokenize
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer 
from nltk.chunk import ne_chunk
from nltk.tag import pos_tag
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [10]:
pd.set_option('display.max_column',None)
pd.set_option('display.max_rows',None)
pd.set_option('max_colwidth', 300)

In [11]:
df2 = pd.read_excel('data_in.xlsx',quoting = 3)
df2

                                                                                                                              Comment
0                                                               "Hello there, how are you? Weather is awesome. Its raining here now."
1                                                            "Hello Mr. Raja, how are you? Weather is awesome. Its raining here now."
2                                                        "Hello Mr. Raja, how are you. Weather is bad. Its heavily raining here now."
3                                                                       "NLP is great technique. It is nice to learn this technique."
4  "AI is making difference in this world now.  It would be helpful for betterment of human life. We need to make advantage of that."

In [12]:
df2.iloc[0,0]

'"Hello there, how are you? Weather is awesome. Its raining here now."'

In [14]:
sentence = []
for i in range(len(df2)):
    sent = sent_tokenize(df2.iloc[i,0])
    print(sent)
    sentence.append(sent)

['"Hello there, how are you?', 'Weather is awesome.', 'Its raining here now."']
['"Hello Mr. Raja, how are you?', 'Weather is awesome.', 'Its raining here now."']
['"Hello Mr. Raja, how are you.', 'Weather is bad.', 'Its heavily raining here now."']
['"NLP is great technique.', 'It is nice to learn this technique."']
['"AI is making difference in this world now.', 'It would be helpful for betterment of human life.', 'We need to make advantage of that."']

In [16]:
for i in range(len(sentence)):
    print(sentence[i])

['"Hello there, how are you?', 'Weather is awesome.', 'Its raining here now."']
['"Hello Mr. Raja, how are you?', 'Weather is awesome.', 'Its raining here now."']
['"Hello Mr. Raja, how are you.', 'Weather is bad.', 'Its heavily raining here now."']
['"NLP is great technique.', 'It is nice to learn this technique."']
['"AI is making difference in this world now.', 'It would be helpful for betterment of human life.', 'We need to make advantage of that."']

In [17]:
with open('data_out.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for i in range(len(sentence)):
        writer.writerow(sentence[i])

In [18]:
df_out = pd.read_csv('data_out.csv',header = None)
df_out

,0,1,2
0,"""Hello there, how are you?",Weather is awesome.,"Its raining here now."""
1,"""Hello Mr. Raja, how are you?",Weather is awesome.,"Its raining here now."""
2,"""Hello Mr. Raja, how are you.",Weather is bad.,"Its heavily raining here now."""
3,"""NLP is great technique.","It is nice to learn this technique.""",NaN
4,"""AI is making difference in this world now.",It would be helpful for betterment of human life.,"We need to make advantage of that."""

### question 2

In [19]:
df2

                                                                                                                              Comment
0                                                               "Hello there, how are you? Weather is awesome. Its raining here now."
1                                                            "Hello Mr. Raja, how are you? Weather is awesome. Its raining here now."
2                                                        "Hello Mr. Raja, how are you. Weather is bad. Its heavily raining here now."
3                                                                       "NLP is great technique. It is nice to learn this technique."
4  "AI is making difference in this world now.  It would be helpful for betterment of human life. We need to make advantage of that."

In [20]:
import re
re.sub('[^a-zA-Z]',' ',df2['Comment'][0])         # 1st parameter ---> what we want , 2nd parameter---> replace with one space 
                                                             #3rd parameter --> for each row in dataframe

' Hello there  how are you  Weather is awesome  Its raining here now  '

In [24]:
word = []
for i in range(len(df2)):
    review = re.sub('[^a-zA-Z]',' ',df2['Comment'][i])   # 1st parameter ---> what we want , 2nd parameter---> replace with one space 
                                                              #3rd parameter --> for each row in dataframe
    words = word_tokenize(review)
    print("words in row",i+1," :  ",words)
    word.append(words)

words in row 1  :   ['Hello', 'there', 'how', 'are', 'you', 'Weather', 'is', 'awesome', 'Its', 'raining', 'here', 'now']
words in row 2  :   ['Hello', 'Mr', 'Raja', 'how', 'are', 'you', 'Weather', 'is', 'awesome', 'Its', 'raining', 'here', 'now']
words in row 3  :   ['Hello', 'Mr', 'Raja', 'how', 'are', 'you', 'Weather', 'is', 'bad', 'Its', 'heavily', 'raining', 'here', 'now']
words in row 4  :   ['NLP', 'is', 'great', 'technique', 'It', 'is', 'nice', 'to', 'learn', 'this', 'technique']
words in row 5  :   ['AI', 'is', 'making', 'difference', 'in', 'this', 'world', 'now', 'It', 'would', 'be', 'helpful', 'for', 'betterment', 'of', 'human', 'life', 'We', 'need', 'to', 'make', 'advantage', 'of', 'that']

In [27]:
import csv
with open('data_out2.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    for i in range(len(word)-1,-1,-1):      # it creates the number of column equal to no of words in first row thats why i have done from last to first(reverse order)
        writer.writerow(word[i])                   # as number of words in last row is maximum

In [28]:
df_out2 = pd.read_csv('data_out2.csv',header = None)
df_out2.sort_index(ascending = False)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23
4,Hello,there,how,are,you,Weather,is,awesome,Its,raining,here,now,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hello,Mr,Raja,how,are,you,Weather,is,awesome,Its,raining,here,now,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Hello,Mr,Raja,how,are,you,Weather,is,bad,Its,heavily,raining,here,now,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NLP,is,great,technique,It,is,nice,to,learn,this,technique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,AI,is,making,difference,in,this,world,now,It,would,be,helpful,for,betterment,of,human,life,We,need,to,make,advantage,of,that

### question 3

In [29]:
df3 = pd.read_csv('NLPdataEx3&4-data_in.txt',header = None, delimiter = "\n")
df3

                                                                                                                                  0
0                                                               Hello there, how are you? Weather is awesome. Its raining here now.
1                                                            Hello Mr. Raja, how are you? Weather is awesome. Its raining here now.
2                                                        Hello Mr. Raja, how are you. Weather is bad. Its heavily raining here now.
3                                                                       NLP is great technique. It is nice to learn this technique.
4  AI is making difference in this world now.  It would be helpful for betterment of human life. We need to make advantage of that.

In [30]:
#getting rows
df3[0][1]

'Hello Mr. Raja, how are you? Weather is awesome. Its raining here now.'

In [31]:
lemmatizer = WordNetLemmatizer()

In [32]:
for i in range(len(df3)):
    review = re.sub('[^a-zA-Z]',' ',df3[0][i]) #removing other char apart from a-z 1st parameter and replacing with 
                                                             #space 2nd parameter for each row 3rd parameter
    words = word_tokenize(review)
    #print("words   :  ",words)
    lam_words2 = []
    for i in range(len(words)):
        lam_words=lemmatizer.lemmatize(words[i])
        lam_words2.append(lam_words)
    print("Lammatized words from each sentence : ",lam_words2)
    pos_word = pos_tag(lam_words2)
    ne_ch = ne_chunk(pos_word)
    print("Chunks : ",ne_ch)
    ne_ch.draw()

Lammatized words from each sentence :  ['Hello', 'there', 'how', 'are', 'you', 'Weather', 'is', 'awesome', 'Its', 'raining', 'here', 'now']
Chunks :  (S
  (GPE Hello/NNP)
  there/EX
  how/WRB
  are/VBP
  you/PRP
  (PERSON Weather/NNP)
  is/VBZ
  awesome/JJ
  Its/PRP$
  raining/VBG
  here/RB
  now/RB)
Lammatized words from each sentence :  ['Hello', 'Mr', 'Raja', 'how', 'are', 'you', 'Weather', 'is', 'awesome', 'Its', 'raining', 'here', 'now']
Chunks :  (S
  (PERSON Hello/NNP)
  Mr/NNP
  Raja/NNP
  how/WRB
  are/VBP
  you/PRP
  (PERSON Weather/NNP)
  is/VBZ
  awesome/JJ
  Its/PRP$
  raining/VBG
  here/RB
  now/RB)
Lammatized words from each sentence :  ['Hello', 'Mr', 'Raja', 'how', 'are', 'you', 'Weather', 'is', 'bad', 'Its', 'heavily', 'raining', 'here', 'now']
Chunks :  (S
  (PERSON Hello/NNP)
  Mr/NNP
  Raja/NNP
  how/WRB
  are/VBP
  you/PRP
  (PERSON Weather/NNP)
  is/VBZ
  bad/JJ
  Its/PRP$
  heavily/RB
  raining/VBG
  here/RB
  now/RB)
Lammatized words from each sentence :  ['NLP', 'is', 'great', 'technique', 'It', 'is', 'nice', 'to', 'learn', 'this', 'technique']
Chunks :  (S
  (ORGANIZATION NLP/NNP)
  is/VBZ
  great/JJ
  technique/NN
  It/PRP
  is/VBZ
  nice/JJ
  to/TO
  learn/VB
  this/DT
  technique/NN)
Lammatized words from each sentence :  ['AI', 'is', 'making', 'difference', 'in', 'this', 'world', 'now', 'It', 'would', 'be', 'helpful', 'for', 'betterment', 'of', 'human', 'life', 'We', 'need', 'to', 'make', 'advantage', 'of', 'that']
Chunks :  (S
  AI/NNP
  is/VBZ
  making/VBG
  difference/NN
  in/IN
  this/DT
  world/NN
  now/RB
  It/PRP
  would/MD
  be/VB
  helpful/JJ
  for/IN
  betterment/NN
  of/IN
  human/JJ
  life/NN
  We/PRP
  need/VBP
  to/TO
  make/VB
  advantage/NN
  of/IN
  that/DT)

### question 4

In [33]:
df3

                                                                                                                                  0
0                                                               Hello there, how are you? Weather is awesome. Its raining here now.
1                                                            Hello Mr. Raja, how are you? Weather is awesome. Its raining here now.
2                                                        Hello Mr. Raja, how are you. Weather is bad. Its heavily raining here now.
3                                                                       NLP is great technique. It is nice to learn this technique.
4  AI is making difference in this world now.  It would be helpful for betterment of human life. We need to make advantage of that.

In [34]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [35]:
ps = PorterStemmer()
lm = WordNetLemmatizer()

stem_meaningful_words = []
lamm_meaningful_words = []

for i in range(len(df3)):
    review = re.sub("[^a-zA-Z]",' ',df3[0][i])
    review = review.lower()
    review = review.split()
    stemming = []
    lammitizing = []
    
    for word in review:
        if word not in set(stopwords.words('english')):     #checking all word weather its there or not in the stop words
            stemming.append(ps.stem(word))                  #appling steming on each meaningful word
            lammitizing.append(lm.lemmatize(word))          #appling lammitizing on each meaningful word
            
    stem_meaningful_words.append(stemming)
    lamm_meaningful_words.append(lammitizing)

In [36]:
stem_meaningful_words

[['hello', 'weather', 'awesom', 'rain'],
 ['hello', 'mr', 'raja', 'weather', 'awesom', 'rain'],
 ['hello', 'mr', 'raja', 'weather', 'bad', 'heavili', 'rain'],
 ['nlp', 'great', 'techniqu', 'nice', 'learn', 'techniqu'],
 ['ai',
  'make',
  'differ',
  'world',
  'would',
  'help',
  'better',
  'human',
  'life',
  'need',
  'make',
  'advantag']]

In [37]:
lamm_meaningful_words

[['hello', 'weather', 'awesome', 'raining'],
 ['hello', 'mr', 'raja', 'weather', 'awesome', 'raining'],
 ['hello', 'mr', 'raja', 'weather', 'bad', 'heavily', 'raining'],
 ['nlp', 'great', 'technique', 'nice', 'learn', 'technique'],
 ['ai',
  'making',
  'difference',
  'world',
  'would',
  'helpful',
  'betterment',
  'human',
  'life',
  'need',
  'make',
  'advantage']]

### question 5

In [38]:
df5 = pd.read_csv("NLPdataEx5data_senti_analyze.txt", header = None)
df5

                                                 0
0                               Rose is beautiful.
1                          Place is nasty to stay.
2            This is the beauty of this technique.
3   Concept is explained beautifully in this book.
4                                   He annoyed me.
5                   Its the supreme place to stay.
6                               I hate this place.
7                         Dont annoy the customer.
8      He has given nasty comments about his stay.
9                              Dessert is awesome.
10                         Your gift is wonderful.

In [39]:
sent_dict = {}
with open("NLPdataEx5dict.txt") as file:
    for each_line in file:
        each_line = re.sub("[^a-zA-Z]",' ',each_line)
        each_line = re.sub("\s+"," ",each_line.strip())
        print(each_line)
        
        each_line_word = each_line.split(" ")
        if each_line_word[0]=="neg":
            for i in range(2,len(each_line_word)):
                word = each_line_word[i]
                sent_dict[word]= -(i-1)
        else:
            for i in range(2,len(each_line_word)):
                word = each_line_word[i]
                sent_dict[word]= (i-1)
sent_dict

neg words hate hatred annoyed annoy annoyingly nasty
pos words nice excellent good wonderful best better awesome beautiful beauty beautifully supreme

{'hate': -1,
 'hatred': -2,
 'annoyed': -3,
 'annoy': -4,
 'annoyingly': -5,
 'nasty': -6,
 'nice': 1,
 'excellent': 2,
 'good': 3,
 'wonderful': 4,
 'best': 5,
 'better': 6,
 'awesome': 7,
 'beautiful': 8,
 'beauty': 9,
 'beautifully': 10,
 'supreme': 11}

In [40]:
df5.head(2)

                         0
0       Rose is beautiful.
1  Place is nasty to stay.

In [41]:
sentiment = []
values = []
for i in range(len(df5)):
    words = word_tokenize(df5[0][i])
    value = sum(sent_dict.get(word,0) for word in words)
    values.append(value)
    if value >= 0:
        sentiment.append("Positive")
    else :
        sentiment.append("Negative")
sentiment

['Positive',
 'Negative',
 'Positive',
 'Positive',
 'Negative',
 'Positive',
 'Negative',
 'Negative',
 'Negative',
 'Positive',
 'Positive']

In [42]:
df5["Sentiment"] = sentiment
df5["Values"]= values

In [43]:
df5

                                                 0 Sentiment  Values
0                               Rose is beautiful.  Positive       8
1                          Place is nasty to stay.  Negative      -6
2            This is the beauty of this technique.  Positive       9
3   Concept is explained beautifully in this book.  Positive      10
4                                   He annoyed me.  Negative      -3
5                   Its the supreme place to stay.  Positive      11
6                               I hate this place.  Negative      -1
7                         Dont annoy the customer.  Negative      -4
8      He has given nasty comments about his stay.  Negative      -6
9                              Dessert is awesome.  Positive       7
10                         Your gift is wonderful.  Positive       4